
.idea/workspace.xml
.idea/Web-Programing-2-Project-3.iml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/16525d69-7206-45bc-b1af-c7bf3b72c302.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/sqldialects.xml
